name: Maestro E2E Tests (Android)

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  e2e-test-android:
    name: Run E2E Tests on Android
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Install expo-dev-client
        run: npx expo install expo-dev-client

      - name: Setup EAS
        run: npm install -g eas-cli

      - name: Build Android app
        run: |
          npm run prebuild
          npx eas-cli build --platform android --profile development --local --non-interactive
        env:
          EXPO_TOKEN: ${{ secrets.EXPO_TOKEN }}

      - name: Run Maestro tests on Robin
        uses: mobile-dev-inc/action-maestro-cloud@v1.9.6
        with:
          api-key: ${{ secrets.ROBIN_API_KEY }}
          project-id: ${{ secrets.ROBIN_PROJECT_ID }}
          app-file: build/android/app/build/outputs/apk/debug/app-debug.apk
          workspace: maestro/
          android-api-level: 33
          env: |
            APP_ENV=test
